.App {
  text-align: center;
}

.todo-list-container {
  display: flex;
  justify-content: space-around;
}

.todo-list {
  list-style: none;
}

/* from App */
.todolist-container { 
  display: flex;
  justify-content: space-around;
}