.App {
  text-align: center;
}

.todo-list-container {
  display: flex;
  justify-content: center;
}

.todo-list {
  list-style: none;
}

.all-todos-container {
  margin: 30px;
  padding: 30px;
  height: 100vh;
  width: 500px;
}

.all-todos-container h3, li {
  cursor: pointer;
}

.all-todos-container ul {
  padding: 0;
}

.focus-todos-container h3 {
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
}

.focus-completed-container h3 {
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
}

.users-list li {
  list-style: none;
}

.users-list {
  padding: 0;
}